.header {
    display: flex;
    justify-content: end;
    position: sticky;
    top: 5px;
    z-index: 999;
}

.header__open,
.header__close {
    display: none;
    background-color: red;
}

.header__list {
    align-items: center;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.090);
    border-radius: 15px;
    display: flex;
    height: 35px;
    margin-top: 35px;
    padding-right: 32px;
}

.header__item {
    float: left;
    list-style: none;
    margin-left: 32px;
}

.header__link {
    color: var(--white);
    font-family: Lato;
    font-size: var(--textN);
    text-decoration: none;
    transition: ease-in-out 0.5s;
}

.header__link:hover {
    color: var(--lightgray);
    text-decoration: underline 1px var(--lightgray);
    transition: ease-in-out 0.1s;
}

.header__link:active {
    color: var(--grey);
    transition: ease-in-out 0.1s;
}

@media screen and (max-width: 700px) {

    .header {
        position: relative;
        justify-content: start;
        top: 0;
    }

    .header__open {
        display: block;
        /* background-color: rgba(255, 255, 255, 0.090); */
        backdrop-filter: blur(10px);
        border: none;
        margin-top: 35px;
        padding: 15px;
        border-radius: 15px;
        cursor: pointer;
        display: block;
    }

    .header__list--hidden {
        opacity: 0;
        visibility: hidden;
        transition: ease-out 0.1s;
    }

    .header__list {
        position: absolute;
        height: 100vh;
        width: 100vw;
        top: 0;
        left: -40px;
        margin-top: 0px;
        border-radius: 0px;
        background-color: rgba(255, 255, 255, 0);
        backdrop-filter: blur(30px);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header__list--visible {
        opacity: 1;
        visibility: visible;
        transition: ease-out 0.1s;
    }

    .header__open {
        display: block;
    }

    .header__close {
        display: block;
        /* background-color: transparent; */
        backdrop-filter: blur(0px);
        border: none;
        padding: 15px;
        cursor: pointer;
        position: absolute;
        margin-top: 35px;
        top: 5px;
        left: 40px;
    }

    .header__link {
        height: 80px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


}