/* HOME SECTION */
*{
    position: relative;
}

.home {
    display: flex;
    margin-bottom: 300px;
}

.home__info {
    margin-top: 230px;
}

.home__title {
    color: var(--white);
    font-family: UnifrakturMaguntia;
    font-size: var(--title1);
    font-weight: 100;
}

.home__text {
    margin-bottom: 10px;
    color: var(--lightgray);
    font-family: Lato;
    font-size: var(--text);
}

.home__button-box {
    display: flex;
    gap: 20px;
}

.home__button {
    align-items: center;
    background-color: var(--white);
    border-radius: 20px;
    display: block;
    display: flex;
    height: 50px;
    justify-content: center;
    transition: ease-in-out 0.3s;
    width: 100px;
}

.home__button:hover {
    background-color: var(--lightgray);
    border: solid 2px var(--white);
    box-shadow: 0px 0px 10px var(--green), inset 0px 0px 10px var(--green);
    scale: 0.99;
    transition: ease-in-out 0.5s;
}

.home__button:active {
    background-color: var(--grey);
    scale: 0.8;
}


.home__button--cv {
    color: var(--black);
    font-family: Lato;
    font-size: 20px;
    font-weight: 900;
    text-decoration: none;
}

.home__icon {
    width: 40px;
}

.home__img {
    background-color: #fff;
    position: relative;
}

.home__img-eyelid {
    height: 400px;
    left: 215px;
    position: absolute;
    top: 65px;
    width: 400px;
}

.home__img-eye {
    animation: Watching 15s;
    height: 110px;
    left: 360px;
    position: absolute;
    top: 200px;
    width: 110px;
}

.home__img-eye:hover {
    animation: Rotate 2s infinite;
    cursor: pointer;
    filter: drop-shadow(0px 0px 10px var(--green));
}

/* Eye Animation */
@keyframes Rotate {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@keyframes Watching {
    0%  {transform: translateX(0px);}
    25% {transform: translateX(10px) translateY(-20px);}
    50% {transform: translateX(-30px) translateY(0px);}
    75% {transform: translateX(-25px) translateY(5px);}
    100% {transform: translateX(0px);}
}

/* AboutMe Section */
.aboutme{
    margin-bottom: 250px;
}

.aboutme__title{
    color: var(--white);
    font-family: UnifrakturMaguntia;
    font-size: var(--title2);
    font-weight: 100;
    margin-bottom: 40px;
}

.aboutme__container{
    border-radius: 20px;
    border: var(--white) 0.5px solid;
    padding: 40px 80px;
    width: 100%;
}

.aboutme__text{
    color: var(--lightgray);
    font-family: Lato;
    font-size: var(--text);
}

/* Projects Section */
.projects{
    margin-bottom: 250px;
}

.projects__title{
    color: var(--white);
    font-family: UnifrakturMaguntia;
    font-size: var(--title2);
    font-weight: 100;
    margin-bottom: 40px;
}

.projects__card{
    /* background-color: var(--deepblack); */
    border-radius: 20px;
    border: var(--white) 0.5px solid;
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}

.projects__img{
    border-radius: 20px;
    border: var(--white) 0.5px solid;
    height: 100%;
    width: 50%;
}

.projects__container{
    padding: 80px 5% 0px 5%;
}

.projects__second-title{
    color: var(--white);
    font-family: UnifrakturMaguntia;
    font-size: var(--title2);
    font-weight: 100;
    margin-bottom: 10px;
}

.projects__text{
    color: var(--lightgray);
    font-family: Lato;
    font-size: var(--text);
    margin-bottom: 20px;
}

.projects__icons{
    display: flex;
    gap: 40px;
}

.projects__icon{
    height: 40px;
    width: 40px;
}

/* Stack Section */
.stack{
    margin-bottom: 250px;
}

.stack__title{
    color: var(--white);
    font-family: UnifrakturMaguntia;
    font-size: var(--title2);
    font-weight: 100;
    margin-bottom: 40px;
}

.stack__subtitle{
    color: var(--grey);
    font-family: Lato;
    font-size: var(--subtitle);
    margin-bottom: 30px;
}

.stack__container{
    display: flex;
    gap: 40px;
    margin-bottom: 30px;
}

.stack__technology{
    text-align: center;
}

.stack__icon{
    height: 40px;
    margin-bottom: 5px;
    width: 40px;
    object-fit: contain;
}

.stack__text{
    color: var(--white);
    font-family: Lato;
    font-size: var(--text);
    font-weight: 700;
    margin-bottom: 20px;
}
